/* styling aside popup for player to enter name */
.modal{
    position: fixed;
    /* background-color: goldenrod; */
    background-color: white;
    top: 20%;
    left: 5%;
    width:90%;
    padding:1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /*drop shadow 2px to the right, 2px down, with a blur radius of 4px,  */
    display: none;
}

/* when the aside popup to enter name appears than background will darken */
#backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

@media (min-width: 48rem){
    .modal{
        left: calc(50%-20rem);
        width: 40rem;
    }
}
